/* Reflection:
In this project, I successfully created a personal portfolio using HTML and CSS.
One thing that went well was structuring the website using semantic elements.
A challenge I faced was improving the design and layout.
I improved typography and spacing to make the site more readable.
In the future, I would like to add responsiveness and JavaScript features.
*/

/* Reset */
** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f4f6f8;
  color: #333;
}

header {
  background: #1e293b;
  color: white;
  text-align: center;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px;
  background: #334155;
  color: white;
}

.page-hero {
  text-align: center;
  padding: 40px;
  background: #1e293b;
  color: white;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.about-container img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.about-container p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #2563eb;
  font-weight: bold;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
}

button {
  padding: 10px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
}

body.dark {
  background: #0f172a;
  color: white;
}

body.dark header {
  background: black;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

